type: "MARKDOWN_NOTE"
folder: "0932d1cea7b29814a36c"
title: "Welcome to Boostnote!"
content: '''
  # Welcome to Boostnote! 
  ### _Depp Learning 1_
  
  ---
  
  Boostnote is an *open source* note-taking app. 
  Repository is published on [GitHub](https://github.com/BoostIO/Boostnote), and tweeting everyday on [@Boostnoteapp](https://twitter.com/boostnoteapp)!
  
  ## Features 
  - [x] No Internet and Registration Required. 
  - [ ] Quick search and copy the content of note. `macOS: Cmd + Alt + S / windows: Ctrl + Alt + S` 
  - [ ] Markdown & Snippet note. 
  - [ ] Available for `vim` and `emacs` mode. 
  - [ ] Choose your favorite theme on UI, Editor and Code Block! 
  --- 
  
  - Copy Codeblock on Makrdown Preview.
  ```javascript
  var boostnote = document.getElementById('enjoy').innerHTML
  
  console.log(boostnote)
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-05T17:37:24.892Z"
updatedAt: "2017-08-05T17:37:49.728Z"
